<!DOCTYPE html>

<html lang="ja">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>にくをあつめろ</title>
    <link rel="stylesheet" type="text/css" href="battlefieldRun.css">
</head>
<body>
      <div>
        <H2>にくをあつめろ</H2>
      </div>
        <fieldset class="inputFieldset">
          <div id="app">
            <div>
              <span>目標累計貢献度</span>
              <input type="number" v-model="input"></input>
            </div>
            <div id="trigerDigest">
              <div><span>肉の消化方法</span></div>
              <div>
                <input type="radio" class="hellRadio" name="hellRadio" id="hell95" value="95HELL" v-model="trigerDigest" />
                <label class="hellRadioLabel" for="hell95">95HELLのみ</label>
                <input type="radio" class="hellRadio" name="hellRadio" id="hell100" value="100HELL" v-model="trigerDigest" />
                <label class="hellRadioLabel" for="hell100">100HELLのみ</label>
                <input type="radio" class="hellRadio" name="hellRadio" id="both" value="both" v-model="trigerDigest" />
                <label class="hellRadioLabel" for="both">95HELL&100HELL</label>
              </div>
            </div>
            <div>
              <span>必要なトリガー数：</span><span>{{ output }}</span>
            </div>
          </div>
        </fieldset>
        <fieldset class="note">
          <H3>トリガー必要数計算機＠古戦場 ver.0.1</H3>
          <span>
            累計貢献度に応じて必要トリガー数がわかるもの。95HELL+100HELLは毎日同じ貢献度を稼いだ前提です。</br>
            作った人： ぐらにゅ（<a href="https://twitter.com/gurany_tou">@gurany_tou</a>）
          </span>
        </fieldset>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="battlefieldRun.js"></script>
</body>
</html>
